//@use '../../variables';
// @import  '../../variables';

.header{
    background-color: white;
    height: 100px;
    max-width: 100%;
    background-color: #f0f2fa;
    display: flex;
    align-items: center;

 }
.header_menu{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loginComp{
  display: flex;
  flex-direction: row;
}
.menu_text{
color: #575551;
font-size:20px;
margin-right: 10px;
margin-left: 10px;
&:hover,
&:focus{
text-decoration: underline;
}
}
.menuProfileIcon{
  fill: #575551;
 stroke: white;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.menuIcon {
  fill: white;
  stroke: #575551;
 width:30px;
 height:30px;
 margin-right: 10px;
 &:hover,
 &:focus {
 fill: #575551;
 stroke: white;
 }
}

.heartIconActive{
  fill: red;
  stroke: #575551;
 width: 40px;
 height: 40px;
 margin-right: 10px;
  
}

.container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header_menu_user{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .menuIcon{
    width: 40px;
    height: 40px;
  }
  .container{
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .header_menu_user {
    display: none;
  }
  
  
}

